<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>New Post</h1>
                            <span class="subheading">Fill the form below for a new post!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">

                            <form action="/blogpost/save" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" name="inputTitle" id="title" type="text" placeholder="Enter your name..."/>
                                    <label for="title">Title</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="inputBody" id="body" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                                    <label for="body">Body</label>
                                </div>
                                <div class="form-control mb-2">
                                    <lable for="campo-file">Foto allegata</lable>
                                    <input type="file" name="inputFile" id="campo-file" placeholder="Attach file here!" />
                                </div>
                                <button type="submit" class="btn btn-primary text-uppercase">Insert</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>