<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <% for(let i=0; i<elencoarticoli.length; i++){ %>
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/blogpost/<%= elencoarticoli[i]._id %>">
                                <h2 class="post-title"><%= elencoarticoli[i].title %></h2>
                                <h3 class="post-subtitle"><%= elencoarticoli[i].body %></h3>
                            </a>
                            <p class="post-meta">
                                <%= elencoarticoli[i].datePosted.toDateString() %>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    <% } %>

                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>
