<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header.ejs') -%>
    <title>OrdiniX manager - v1.0</title>
</head>
<body>
    <%- include('layouts/navbar.ejs') -%>
    
    <div class="container mt-4">
        
        <form action="/salva" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-nominativo">Nominativo</label>
                        <input type="text" name="nominativo" id="input-nominativo" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                    <div class="form-group">
                        <label for="input-indirizzo">Indirizzo</label>
                        <input type="text" name="indirizzo" id="input-indirizzo" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                    <div class="form-group">
                        <label for="input-civico">Civico</label>
                        <input type="text" name="civico" id="input-civico" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-cap">CAP</label>
                        <input type="text" name="cap" id="input-cap" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                    <div class="form-group">
                        <label for="input-citta">Citta</label>
                        <input type="text" name="citta" id="input-citta" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                    <div class="form-group">
                        <label for="input-prodotto">Prodotto</label>
                        <input type="text" name="prodotto" id="input-prodotto" class="form-control" placeholder="Inserisci il valore..." />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-primary btn-block">Inserisci</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('layouts/footer.ejs') -%>
</body>
</html>