<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header.ejs') -%>
    <title>OrdiniX manager - v1.0</title>
</head>
<body>
    <%- include('layouts/navbar.ejs') -%>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 text-right">Nominativo:</div>
            <div class="col-md-6"><%= ordine.nom %> </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">Indirizzo:</div>
            <div class="col-md-6"><%= ordine.ind %> </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">Prodotto:</div>
            <div class="col-md-6"><%= ordine.pro %> </div>
        </div>
    </div>

    <%- include('layouts/footer.ejs') -%>
</body>
</html>