<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header.ejs') -%>
    <title>OrdiniX manager - v1.0</title>
</head>
<body>
    <%- include('layouts/navbar.ejs') -%>
    
    <div class="container mt-4">
        <!-- table: start -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nominativo</td>
                    <td>Indirizzo</td>
                    <td>Prodotto</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for(let [idx, obj] of elenco.entries()) { %>
                    <tr>
                        <td><a href="/ordini/<%= obj._id %>"><%= obj.nom %></a></td>
                        <td><%= obj.ind %></td>
                        <td><%= obj.pro %></td>
                        <!-- <td>
                            <form action="/dettaglio" method="POST">
                                <input type="text" class="d-none" name="id_ordine" value="<%= obj._id %>" disabled/>
                                <button type="submit" class="btn btn-block btn-outline-info">Dett</button>
                            </form>
                        </td> -->
                    </tr>
                <% } %>
                    
            </tbody>
        </table>
        <!-- table: end -->
    </div>

    <%- include('layouts/footer.ejs') -%>
</body>
</html>