<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header') -%>
    <title>Document</title>
</head>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container">
        <h1>Sono la pagina Chi siamo!</h1>
    </div>

    <%- include('layouts/footer') -%>
  </body>
</html>