<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header') -%>  
    <title>Document</title>
</head>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container">
        <h1>Sono la pagina Contatti!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id cum dolorem explicabo? Ad tempora magnam praesentium laboriosam voluptatibus, accusantium magni quisquam repudiandae quod adipisci ut quas laborum optio provident? Autem.</p>
    </div>

    <%- include('layouts/footer') -%>
  </body>
</html>