<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <header class="masthead-new">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>LogIn</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4 mt-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <form action="/auth/login" method="post">
                            <div class="form-floating">
                                <input class="form-control" name="inputUser" id="user" type="text" placeholder="Enter your username..."/>
                                <label for="user">Username</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" name="inputPassword" id="password" type="password" placeholder="Enter your username..."/>
                                <label for="password">Password</label>
                            </div>
                            <button type="submit" class="btn btn-primary text-uppercase mt-2">Log In</button>
                        </form>

                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>
