<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('layouts/header') -%>
    </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/<%= blogpost.image %>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= blogpost.title %></h1>
                            <!-- <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on August 24, 2021
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/<%= blogpost.image %>" class="w-100" />
                            </div>
                            <div class="col-md-8">
                                <p><%= blogpost.body %></p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>
