<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('layouts/header') -%>
    <title>Document</title>
</head>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container">
        <h1>Registrati</h1>

        <form action="/auth/register" method="POST">
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" name="inputUser" id="user" placeholder="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" name="inputPassword" id="pass" placeholder="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="role">Ruolo</label>
                <select id="role" name="inputRole" class="form-control">
                    <option value="ADMIN">Amministratore</option>
                    <option value="USER" selected="selected">Utente</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Registrami</button>
        </form>
    </div>

    <%- include('layouts/footer') -%>
</body>
</html>