<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <h1>Modifica il servizio</h1>       
        <form action="/subscriptions/edit/<%= sub._id %>" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" name="inputName" id="name" class="form-control" value="<%= sub.name %>">
            </div>    
            <div class="form-group">
                <label for="desc">Descrizione</label>
                <input type="text" name="inputDesc" id="desc" class="form-control" value="<%= sub.desc %>">
            </div>    
            <div class="form-group">
                <label for="cost">Costo Mensile</label>
                <input type="number" name="inputCost" id="cost" class="form-control" value="<%= sub.cost %>">
            </div>    
            <button type="submit" class="btn btn-primary">Modifica Servizio</button>
        </form>                              
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>