<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">
        <div class="row d-flex p-2 justify-content-center">
            <% for(let [idx, obj] of elenco.entries()) { %>
                <div class="card mt-2 mr-2" style="width: 18rem;">
                    <img src="/img/<%= obj.image %> " class="card-img-top mt-2" alt="">
                    <div class="card-body">
                    <h5 class="card-title"><%= obj.name %></h5>
                    <p class="card-text"><%= obj.desc %></p>  
                    <p class="card-text"><%= obj.cost %>&euro; al mese</p> 
                                       
                    <% if(ruolo == "ADMIN") { %>
                    <div class="row d-flex justify-content-end">                                                                                   
                        <!--
                        <form action="/subscriptions/delete/<%= obj._id%>" method="get">
                            <button type="submit" class="btn btn-danger">Cancella</button>
                        </form> 
                        -->
                        <a href="/subscriptions/delete/<%= obj._id%>" class="btn btn-danger">Elimina</a>
                        <div class="ml-2"></div>                           
                        <!-- <form action="/subscriptions/edit/<%= obj._id%>" method="get">
                            <button type="submit" class="btn btn-warning">Modifica</button>
                        </form>          -->
                        <a href="/subscriptions/edit/<%= obj._id%>" class="btn btn-warning">Modifica</a>
                                                  
                    </div>                        
                    <% } else if (ruolo == "USER") { %> 
                        <div class="row d-flex justify-content-end">
                            <form action="/order" method="post">
                                <input name="idSub" value="<%= obj._id%>" class="d-none" />
                                <button type="submit" class="btn btn-primary">Acquista</button>
                            </form>
                            <a href="/user/subscriptions/buy/<%= obj._id%>" class="btn btn-primary">Acquista</a>
                        </div>                    
                    <% } %>        
                    </div>
                </div>
            <% } %>
        </div>                
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>
