<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('layouts/header') -%> 
</head>
<body>
    <%- include ('layouts/navbar') -%> 
    <div class="container">

        <div class="row">
            <div class="col">
                <h1>Dettagli pagamento e note:</h1>
            </div>
        </div>

        <form action="/user/subscriptions/buy/<%= servizioSelezionato %>" method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="input-select">Metodo di pagamento</label>
                        <select class="form-control" name="inputPagamento" id="input-select">
                            <option value="BANCA">Banca</option>
                            <option value="PAYPAL">PayPal</option>
                            <option value="CONTANTI">Contanti</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="input-note">Note</label>
                        <textarea class="form-control" name="inputNote" id="input-note"></textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Inserisci</button>
        </form>
            
    </div>
    <%- include ('layouts/footer') -%> 
</body>
</html>
